* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear {
    clear: both;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    width: 75%;
    margin: 0 auto;
}
/* Start Navbar */
.navbar {
    background-color: rgb(104, 161, 207);
    /* height: 60px; */
    padding: 20px;
}
.navbar .logo h2 {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
}
.navbar .logo .icon ,
.navbar .nav-links {
    vertical-align: middle;
}
.navbar .nav-links ul li {
    display: inline-block;
}
.nav-links li a {
    color: #fff;
    font-weight: bold;
    margin: 10px 5px;
}
/* End Navbar */

/* Start Main Content */
.main-content #searchInput {
    width: 97%;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.content {
    margin: 5px auto;
}
.cards .card {
    display: inline-block;
    width: 200px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 5px 10px;
}
.card .card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .info {
    padding: 10px;
}
.info h4 {
    margin-bottom: 10px;
}
.info .price {
    float: left;
}
.info .addToCart ,
.info .favorite ,
.info .removeFromCart {
    width: 100%;
    padding: 5px;
    background-color: rgb(104, 161, 207);
    color: #fff;
    border: 1px solid rgb(104, 161, 207);
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.info .quantity {
    display: inline-block;
    float: right;
}
.quantity button {
    background-color: rgb(104, 161, 207);
    color: #fff;
    font-weight: bold;
    padding: 2px 5px;
    border: 1px solid rgb(104, 161, 207);
    border-radius: 2px;
    margin: 5px;
    cursor: pointer;
}
.quantity .count {
    font-weight: bold;
}
.info .sub-total {
    margin: 5px 0;
    clear: both;
}
.cart-content .total {
    margin: 10px;
}
/* End Main Content */
